*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Piazzolla", serif;
}
:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
}
html{
    font-size: 62.5%;
}

.row{
    margin: 0;
}
.col-md-6 col-12 main_header_left button{
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}