* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {

    background-color: #1f282d;
    color: #fff;
    text-align: center;
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 50px auto 0;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 50px;
    height: 30px;
    border-radius: 50px;
    flex: 3;
    margin-right: 30px;
    font-size: 18px;
    text-align: center;

}

.search button {
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 40px;
}

.card {
    width: 90%;
    height: 800px;
    max-width: 700px;
    background: linear-gradient(120deg, #00feba, #5b548a, #781313);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 0px 15px 0px 25px;
    padding: 40px 35px;
    text-align: center;

}
.navbar {
    background-color: black;
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
  }

.navbar ul {
    overflow: auto;
  }

  .navbar li {
    float: left;
    margin: 13px 20px
  }
   
  .navbar li a{
    padding: 6px 3px;
    text-decoration: none;
    color: white;

  }

 
  .navbar input{
    background-color: white;
  padding: 7px 60px 8px;
  margin: 4px 5px;
  }